@font-face {
    font-family: "Press Start K";
    src: url("../fonts/prstartk.ttf");
}

body {
    margin: 0;
    font-family: "Press Start K", sans-serif;
    color: white;
}

p {
    margin-top: 0;
}

.debug {
    position: fixed;
    margin: 1em;
}

canvas {
    display: block;
}