@font-face {
    font-family: "Press Start K";
    src: url("../fonts/prstartk.ttf");
}

body {
    margin: 0;
    font-family: "Press Start K", sans-serif;
    color: white;
}

p {
    margin-top: 0;
}

.debug {
    position: fixed;
    margin: 1em;
}

#message {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

canvas {
    display: block;
}