@font-face {
    font-family: "Press Start K";
    src: url("../fonts/prstartk.ttf");
}

body {
    margin: 0;
    font-family: "Press Start K", sans-serif;
    color: white;
}

p {
    margin-top: 0;
}

#debug {
    position: fixed;
    margin: 0.5em;
}

#message {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

#debug, #message {
    display: none;
    padding: 0.5em;
    background-color: #00000050;
}

canvas {
    display: block;
}